  <div class="container">
    <div class="card" style="margin-left: 300px; margin-top: 70px; width:400px;">
      <h4 class="card-title text-center" style="margin-top: 30px;">Login</h4>
      <div class="card-body">
        <form [formGroup]="userDetailsForm">
          <mat-form-field floatLabel="always">
            <mat-label>Email</mat-label>
            <input matInput formControlName="username">
            <!-- <mat-error *ngIf="userDetailsForm?.get('username')?.hasError('required')">
              Email is <strong>required</strong>
            </mat-error> -->
          </mat-form-field>
        </form>
        <!-- <form class="login-form">
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </form> -->

        <!-- <div>
          User Name : <input type="text" id="userName" [(ngModel)]="userDetails.username"><br>
          Password : <input type="password" id="password" [(ngModel)]="userDetails.password"><br>
          <button (click)="authenticate()">Login</button>
        </div> -->
      </div>
    </div>
  </div>